<!DOCTYPE html>
<html data-ng-app="demoApp"> <!-- This is a directive...-->
	<head>
		<title>Pictopage</title>
	</head>
	<body >
		<div data-ng-controller="SimpleController"> <!-- Initialization of the controller I want to use. It only exists in this DIV ONLY-->
			Name:
			<br />
			<input type="text" data-ng-model="name"/>
			<br />
			<ul>
				<li data-ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ cust.name }} - {{ cust.city }}</li> <!-- use of filters...-->
			</ul>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<script>
			/*
				Here I initialize an angular module object called demoApp.
				Within this module with then assign our contoller to the 
				object. We can Achieve this with two options. 

				1st Option
			*/
			var demoApp = angular.module('demoApp',[]);
			function SimpleController($scope){
				$scope.customers = [
					{name: 'Artemas M', city: 'London'},
					{name: 'Steve Jobs', city: 'Washington'},
					{name: 'Robert M', city: 'Zimbabwe'}
				];
			}
			demoApp.controller('SimpleController', SimpleController);
		</script>
	</body>
</html>