<!DOCTYPE html>
<html data-ng-app> <!-- This is a directive...-->
	<head>
		<title>Pictopage</title>
	</head>
	<body >
		<div data-ng-controller="SimpleController"> <!-- Initialization of the controller I want to use. It only exists in this DIV ONLY-->
			Name:
			<br />
			<input type="text" data-ng-model="name"/>
			<br />
			<ul>
				<li data-ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ cust.name }} - {{ cust.city }}</li> <!-- use of filters...-->
			</ul>
		</div>


		<script>

		/*
			Starting in Angular JS 1.3 stand-alone functions like the one below cannot be used on their own.
			THEY MUST BE ADDED TO THE MODULE.
		*/
			//Here I create a controller
			function SimpleController($scope){
				$scope.customers = [
					{name: 'Artemas M', city: 'London'},
					{name: 'Steve Jobs', city: 'Washington'},
					{name: 'Robert M', city: 'Zimbabwe'}
				];
			}
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</body>
</html>