<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>AngularJS Demo</title>
	</head>
	<body >
		<div ng-controller="customerController as ctrl">
			<label>SEARCH FOR CUSTOMER:
				<input type="text" ng-model="name"/>
			</label>
			<br />
			<ul>
				<li ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ cust.name }} - {{ cust.city }}</li>
			</ul>
		</div>

		<!-- DEPENDENCIES -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<!-- MODULES -->
		<script src="app.module.js"></script>
		<!-- CONTROLLER -->
		<script src="customer/customer.controller.js"></script>
		<!-- SERVICES -->
		<script src="customer/customer.service.js"></script>
	</body>
</html>